@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Quicksand:wght@300..700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Baloo 2", sans-serif;
  background: #d9f4ff;
  color: #000000;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.r-q-header.is-open .r-q-header-background {
  left: 0;
}
.r-q-header-button-wrapper {
  margin-left: auto;
}
.r-q-header-icon {
  display: none;
}

.r-q-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.r-q-navigation-list.is-open {
  right: 0;
}
.r-q-header-icon-menu {
  display: block;
}

.r-q-header-icon-button.is-open .r-q-header-icon-menu {
  display: none;
}

.r-q-header-icon-button.is-open .r-q-header-icon-close {
  display: block;
}

.r-q-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
}

.r-q-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #223e59;
}
.r-q-header.is-open .r-q-header-background {
  left: 0;
}
.r-q-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.r-q-header-icon-menu {
  display: block;
}

.r-q-header-icon-button.is-open .r-q-header-icon-menu {
  display: none;
}

.r-q-header-icon-button.is-open .r-q-header-icon-close {
  display: block;
}

.r-q-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px 20px;
  position: relative;
}

.r-q-navigation-list {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 100px 0 0 180px;
  gap: 32px;
  background: #223e59;
}

.r-q-navigation-link {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #bae9fd;
}

.r-q-navigation-link:hover,
.r-q-navigatioт-link:focus {
  color: #ca2111;
}
.r-q-navigation-list.is-open {
  right: 0;
}
.r-q-header.is-open {
  background-color: transparent;
}

.r-q-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .r-q-navigation-img {
    display: flex;
  }
  .r-q-policy-terms-header-icon-menu {
    display: none;
  }
  .w-b-header-button-wrapper {
    display: none;
  }
  .r-q-header {
    justify-content: space-between;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    height: 100px;
  }

  .r-q-header-background {
  }
  .r-q-header-icon-button {
    display: none;
  }
  .r-q-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .r-q-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 118px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .r-q-navigation-link {
    font-family: Quicksand;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #223e59;
    text-decoration: none;
  }

  .r-q-navigation-item-desk {
    display: none;
  }
}
.r-q-home {
  width: 375px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Home\ mobile.png");
  margin: auto;
}
.r-q-home-container {
  padding: 168px 0px 0px;
}

.r-q-home-title {
  width: 375px;
}
@media screen and (min-width: 1200px) {
  .r-q-home {
    width: 1440px;
    height: 820px;
    background-image: url("/img/home/Home.png");
  }
  .r-q-home-container {
    width: 1440px;
    padding: 65px 0px 0px;
  }
  .r-q-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .r-q-home-title {
    width: 626px;
  }
}
.r-q-about {
  margin: auto;
  width: 375px;
  padding: 80px 20px 0;
}
.r-q-about-container {
  margin: auto;
  height: 495px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/About\ the\ game.png");
}
.r-q-about-title {
  font-family: Baloo 2;
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  color: #ca2111;
}
.r-q-about-text {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  padding-top: 250px;
}

.r-q-about-text-bold {
  font-weight: 700;
}

@media screen and (min-width: 1200px) {
  .r-q-about {
    margin: auto;
    width: 1440px;
    padding: 140px 80px 0;
  }
  .r-q-about-container {
    margin: auto;
    height: 349px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/About.png");
  }

  .r-q-about-text {
    padding-top: 25px;
    width: 630px;
  }
}

.r-q-how {
  margin: auto;
  width: 375px;
  padding: 80px 0 0;
}
.r-q-how-container {
  margin: auto;
  height: 602px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/how/Advantages.png");
  padding: 0px 20px 0;
}
.r-q-how-list {
  padding-top: 248px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.r-q-how-item {
  display: flex;
  align-content: center;
  gap: 12px;
}
.r-q-how-img {
  width: 32px;
  height: 32px;
}
.r-q-how-text {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .r-q-how {
    margin: auto;
    width: 1440px;
    padding: 80px 80px 0;
  }
  .r-q-how-container {
    margin: auto;
    height: 438px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/how/Advantages\ \(3\).png");
  }
  .r-q-how-list {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    width: 458px;
    margin-left: 640px;
  }
}
.r-q-why {
  padding: 80px 0px 0;
  margin: auto;
  width: 375px;
}

.r-q-why-container {
  margin: auto;
  height: 1529px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/why/How\ to\ play.png");
}
.r-q-why-list {
  padding: 331px 89px 0;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.r-q-why-item-text {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding: 4px 8px 0;
}

@media screen and (min-width: 1200px) {
  .r-q-why {
    padding: 140px 0px 0 80px;
    margin: auto;
    width: 1440px;
  }

  .r-q-why-container {
    margin: auto;
    height: 659px;
    padding-right: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/why/Frame\ 48.png");
  }
  .r-q-why-list {
    padding: 30px 0px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 631px;
  }
  .r-q-why-item {
    width: 197px;
    height: 228px;
  }
  .r-q-why-item-text {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    padding: 4px 8px 0;
  }
}

.r-q-reviews-container {
  margin: auto;
  padding: 80px 20px 0;
  width: 375px;
}
.r-q-reviews-list {
  padding-top: 20px;
  padding-bottom: 28px;
}

.r-q-reviews-item {
  margin: 0 10px;
  width: 305px;
  height: 239px;
  gap: 16px;
  border-radius: 16px;
  padding-top: 22px;
  padding-right: 36px;
  padding-bottom: 22px;
  padding-left: 36px;
  background: #bae9fd;
}

.r-q-reviews-text {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  height: 65px;
  margin: 16px 0 18px;
}

.r-q-reviews-item-top {
  display: flex;
  gap: 24px;
  align-items: center;
}
.r-q-reviews-img {
  width: 72px;
  height: 72px;
}
.r-q-reviews-text-bold {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;

  color: #ca2111;
}

@media screen and (min-width: 1200px) {
  .r-q-reviews-container {
    margin: auto;
    padding: 116px 80px 0;
    width: 1440px;
  }
  .r-q-reviews-list {
    padding-top: 30px;
  }
}

.r-q-faq {
  margin: auto;
  width: 375px;
  padding-top: 80px;
}
.r-q-faq-container {
  padding: 0px 20px 0px;

  margin: auto;
}
.r-q-faq-list {
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.r-q-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;

  color: #ca2111;
  border-radius: 20px;
  border-width: 1px;
  padding: 10px;
  border: 1px solid #ca2111;
}

.r-q-faq-answer {
  border-radius: 20px;
  border-width: 1px;
  padding: 10px;
  border: 1px solid #223e59;
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  color: #223e59;
}
.r-q-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.r-q-toggle-button img {
  transition: transform 0.3s ease;
}
.r-q-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  margin-top: 4px;
  margin-bottom: -20px;
}

.r-q-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  margin-bottom: 8px;
}

.r-q-toggle-button img {
  transition: transform 0.3s ease;
  width: 36px;
  height: 36px;
}

.r-q-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1200px) {
  .r-q-faq {
    margin: auto;
    width: 1440px;
    padding: 140px 80px 0;
  }
  .r-q-faq-container {
    padding: 0px 325px;
    background-repeat: no-repeat;

    min-height: 714px;
    background-image: url("/img/FAQ.png");
    margin: auto;
  }
  .r-q-faq-list {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .r-q-faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    opacity: 0;
    margin-top: 4px;
    margin-bottom: -30px;
  }
}
.r-q-gallery-container {
  width: 375px;
  margin: auto;
  padding: 80px 20px;
}
.r-q-gallery-list {
  width: auto;
  padding-top: 28px;
  margin: auto;
}

.r-q-gallery-item {
  width: 335px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.r-q-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.r-q-gallery-button-container {
  display: none;
}
@media screen and (min-width: 1200px) {
  .r-q-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .r-q-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }
  .r-q-gallery-button-icon {
    width: 48px;
    height: 48px;
  }
  .r-q-gallery-button:hover {
    scale: 120%;
  }

  .r-q-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 140px 80px;
  }
  .r-q-gallery-item {
    width: auto;
    height: 305px;

    margin: 0 10px;
  }

  .r-q-gallery-list {
    padding: 30px 0 28px;
  }
}

.r-q-policy-terms-container {
  padding: 126px 20px 40px;
  width: 375px;
  margin: auto;
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.r-q-policy-terms-container h1 {
  font-family: Baloo 2;
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #ca2111;
  padding-bottom: 10px;
}
.r-q-policy-terms-container h2 {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  margin-top: 20px;
}
.r-q-policy-terms-container ul {
  list-style-type: disc;
  margin: 0px 0 0 20px;
}

.r-q-email-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .r-q-policy-terms-container {
    padding: 109px 180px 100px;
    width: 1440px;
  }
}

.r-q-footer-container {
  background: #223e59;

  width: 375px;
  padding: 41px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: #bae9fd;
  gap: 18px;
}

.r-q-footer-wrapper {
  display: flex;
  flex-direction: column;
  font-family: Baloo 2;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;

  gap: 16px;
}

.r-q-footer-text {
  text-decoration: none;
  color: inherit;
}

.r-q-footer-copyright {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .r-q-footer-container {
    width: 1440px;
    padding: 46px 180px;
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .r-q-footer-wrapper {
    display: flex;
    flex-direction: row;
    gap: 236px;
    font-family: Baloo 2;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .r-q-footer-copyright {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.r-q-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 38px 16px;
  background: #223e59;

  z-index: 1000;
  display: none;
}

.r-q-cookie-popup-text-two {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  color: #d9f4ff;
}

.r-q-cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.r-q-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid #d9f4ff;
  width: 295px;

  border-radius: 40px;
  padding-top: 24px;

  padding-bottom: 24px;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;

  color: #d9f4ff;
}

#accept-cookies {
  color: #223e59;
  background: #d9f4ff;
}

.r-q-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .r-q-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 180px;
  }

  .r-q-cookie-popup-text-two {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    width: 595px;
  }

  .r-q-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 26px;
  }

  .r-q-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 35px;
    display: none;
  }
}
